* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family:  'Josefin Sans', sans-serif;
}

.signInPage {
    height: 100vh;
    width: 100%;
    background-color: #424e42;
    background-image: url(../images/signInPageImage.jpg);
    background-size: 700px 800px;
    background-repeat: no-repeat;
}


.pageBody {
    display: flex;
    justify-content: space-between;
}

.signIn-Page {
    margin-left: 810px;
}

.signInSection { 
    /* creating the form with width height and etc */
    width: 420px;
    height: 480px;
    position: relative;
    margin-top: 37px;
    background-color: transparent;
    padding: 10px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    width: 380px;
    background: transparent;
    color: white;
    border: 0;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    outline: none;
    position: relative;
    margin-left: 30px;
}

.input-group-login {
    top: 120px;
    position: absolute;
    width: 360px;
    transition: 0.5s;
}
.input-field {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 380px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3C693;
    border: 0;
    outline: none;
    border-radius: 10px;
}

.check-box {
    margin: 30px 10px 34px 0px;
}

.span1 {
    color: rgb(255, 255, 255);
    font-size: 15px;
    bottom: 66px;
    position: absolute;
    font-family: serif;
}

#login {
    left: 50px;
}
#login input {
    color: white;
    font-size: 15px;
}

.donotHaveAnAccount {
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    margin-top: 250px;
    margin-left: 120px; 
    font-family: serif;  
}

.signUpTo {
    color: white;
    text-decoration: underline;
    font-family: serif;
}